.basket-section button{
    width: 100%;
    margin-right: 0 !important;
}


.basket-section form{
    width:100% !important
}
.basket-section .field{
    width: 50%;
}

.basket-section .field .MuiFormControl-root{
    width: 100% !important;
}


